.u-margin-top-tiny { margin-top: 1rem !important; }
.u-margin-top-smaller { margin-top: 2rem !important; }
.u-margin-top-small { margin-top: 4rem !important; }
.u-margin-top-medium { margin-top: 6rem !important; }
.u-margin-top-large { margin-top: 8rem !important; }

.u-margin-bottom-tiny { margin-bottom: 1rem !important; }
.u-margin-bottom-smaller { margin-bottom: 2rem !important; }
.u-margin-bottom-small { margin-bottom: 4rem !important; }
.u-margin-bottom-medium { margin-bottom: 6rem !important; }
.u-margin-bottom-large { margin-bottom: 8rem !important; }

.u-align-left { text-align: left !important; }
.u-align-center { text-align: center !important; }
.u-align-right { text-align: right !important; }

